body {
   background: rgb(223, 223, 223);
   font-family: Verdana;
}

.photo {
   border: 1px solid rgb(223, 223, 223);
   border-radius: 50%;
}

#title, .subtitle, .post_title {
   color: rgb(58, 58, 58); 
}

a {
   text-decoration: line-through;
   color: rgb(58, 58, 58);
}

#title {
   font-size: 40px;
   text-transform: uppercase;
}

.post_title {
   font-size: 16px;
   font-style: italic;
   margin: 0;
   margin-bottom: 15px;
}

.post {
   background: white;
   padding: 15px;
   border: 3px solid black;
   margin-bottom: 15px;
   border-radius: 15px;
}

.post_content {
   margin: 0;
   margin-bottom: 15px;
   text-transform: capitalize;
}

.post_image {
   margin-bottom: 15px;
}